.items-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 250, 250);
    width: 40vw;
    height: 50px;
}

.check-item{ margin: 0 40px 0 0;}
.check-item:hover{cursor: pointer;}

.delete-item{ background-color: rgba(0, 0, 0, 0);}
.delete-item:hover{cursor: pointer; color: red;}